html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background: #2C3531;
    min-height: 100vh;
    background: linear-gradient(135deg, #2C3531 0%,#116466 48%,#2C3531 100%);
    background-size: cover;
    align-items: center;
    justify-content: center space-around;
    flex-direction: column;
    align-content: space-around;
  }

  div {
      display: block;
  }

  .header {
    width: 100%;
    height: 100%;
    position: relative;
    height: 40px;
    display: flex;
    box-sizing: border-box;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: center;
  }

  .row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: -12px -6px 12px;
    padding: 0;
}

  /* LOGO */
  .blackbeans-logo img {
    display: flex;
    width: 100%;
    height: 100%;
  }


  /* TOUR DATES SECTION */
  .tour-dates-container {
    border: solid 3px #2c3531;
    padding: 10px;
    margin-top: 109px;
    margin-bottom: 116px;
    width: 100%;
    max-width: 708px;
    z-index: 1;
    position: relative;
    flex-direction: column;
  }

  .title-tour-dates {
    color: #ffcb9a;
    font-size: 2rem;
  }  

  .show, .shows-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    align-self: auto;
    width: 100%;
    line-height: 10px;
  }

  .show-date-venue {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d1e8e2;
  }

  .date-numbers {
    color: #ffcb9a;
    font-weight: 700;

  }

  .date-numbers, .venue {
    padding: 10px;
  }

  .venue {
    color: #d1e8e2;
  }

  .venue-city {
    font-weight: 700;
  }

  /* ALBUM FLIP-CARD SECTION */

  .flip-card-container {
      width: 400px;
      height: 400px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center space-around;
      align-items: center;
      padding: 30px;
      perspective: 1000px;
  }

  .flip-card {
    /* flex-direction: row; */
    position: relative;
    /* padding: 40px; */
    width: 100%;
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;
  }

  .flip-card-container:hover .flip-card {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid #2c3531;
  }

  .flip-card-front {
    background-color: #ffcb9a;
  }

  .flip-card-back {
    background-color: #d1e8e2;
    transform: rotateY(180deg);    
  }

  .flip-card-front img, .flip-card-back img {
    width: 100%;
    height: 100%;
  }

  .flip-card-back p {
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }


  /* VIDEO PLAYER SECTION */
  
  .video-gallery {
      flex-direction: column;
  }
      
  .player {
    max-width: 750px;
    border: 5px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position: relative;
    font-size: 0;
    overflow: hidden;
  }
  
  /* This css is only applied when fullscreen is active. */
  .player:fullscreen {
    max-width: none;
    width: 100%;
  }
  
  .player:-webkit-full-screen {
    max-width: none;
    width: 100%;
  }
  
  .player__video {
    width: 100%;
  }
  
  .player__button {
    background: none;
    border: 0;
    line-height: 1;
    color: white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    max-width: 50px;
  }
  
  .player__button:focus {
    border-color: #ffc600;
  }
  
  .player__slider {
    width: 10px;
    height: 30px;
  }
  
  .player__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.1);
  }
  
  .player:hover .player__controls {
    transform: translateY(0);
  }
  
  .player:hover .progress {
    height: 15px;
  }
  
  .player__controls > * {
    flex: 1;
  }
  
  .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0,0,0,0.5);
    cursor: ew-resize;
  }
  
  .progress__filled {
    width: 50%;
    background: #ffc600;
    flex: 0;
    flex-basis: 50%;
  }
  
  /* unholy css to style input type="range" */
  
  input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255,255,255,0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow:0 0 2px rgba(0,0,0,0.2);
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bada55;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
  }
  